<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <!--<p>{{ site.description | default: site.github.project_tagline }}</p>-->
        
        <div class="vertical-menu">
          <a href="https://blinovaalexa.github.io/The_Compliance_Registry_Documentation/">Home</a>
          <a href="https://blinovaalexa.github.io/The_Compliance_Registry_Documentation/Profile.html">Profile</a>
          <a href="https://blinovaalexa.github.io/The_Compliance_Registry_Documentation/Password.html">Password</a>
          <a href="https://blinovaalexa.github.io/The_Compliance_Registry_Documentation/Contacts.html">Contacts</a>
          <a href="https://blinovaalexa.github.io/The_Compliance_Registry_Documentation/Departments.html">Departments</a>
          <a href="https://blinovaalexa.github.io/The_Compliance_Registry_Documentation/Company.html">Company</a>
          <a href="https://blinovaalexa.github.io/The_Compliance_Registry_Documentation/Compliance.html">Compliance</a>
          <a href="https://blinovaalexa.github.io/The_Compliance_Registry_Documentation/MyRisk.html">My Risk</a>
          <a href="https://blinovaalexa.github.io/The_Compliance_Registry_Documentation/Linked.html">My Network</a>
          <a href="https://blinovaalexa.github.io/The_Compliance_Registry_Documentation/Global.html">Global Network</a>
          <a href="https://blinovaalexa.github.io/The_Compliance_Registry_Documentation/Documents.html">Documents</a>
          <a href="https://blinovaalexa.github.io/The_Compliance_Registry_Documentation/Outgoing.html">Outgoing</a>
          <a href="https://blinovaalexa.github.io/The_Compliance_Registry_Documentation/ControlPanel.html">Control Panel</a>
        </div>
        


      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>April 2021 3</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
